
#IntroText {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: white;
}

body {
    background-image: url("https://res.cloudinary.com/dzk3cvgwt/image/upload/v1562765385/b33a11afdff2ef2e1d7502b8d2df0fe9d1efd593_yjgaaf.jpg");
}

.card {
    font-family: 'Nunito', sans-serif;
}