body {
    background-image: url("https://res.cloudinary.com/dzk3cvgwt/image/upload/v1562765385/b33a11afdff2ef2e1d7502b8d2df0fe9d1efd593_yjgaaf.jpg");
}
.card-1 {
    width: 50rem;
    height: 40rem;
    /* Added */
    float: none; /* Added */
    /* Added */
    margin: 0 auto 10px;
    font-family: 'Nunito', sans-serif;
}

.card-2 {
    width: 50rem;
    height: 40rem;
    /* Added */
    float: none; /* Added */
    /* Added */
    margin: 0 auto 10px;
    font-family: 'Nunito', sans-serif;
}

.card-3 {
    width: 50rem;
    height: 40rem;
    /* Added */
    float: none; /* Added */
    /* Added */
    margin: 0 auto 10px;
    font-family: 'Nunito', sans-serif;
}

.card-img-top {
    /*width: 100%;*/
    /*height: 30rem;*/
    object-fit: scale-down;
}

#IntroText {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: white;
}