<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no"/>

    <th:block th:replace="/Home :: importBS">...</th:block>
    <link rel="stylesheet" type="text/css" href="Achievement.css">
    <title>Achievement</title>
</head>
<body>

<th:block th:replace="/Home :: navlinks">...</th:block>
<h2 id="IntroText">The Prize of DOTA 2</h2>
<hr>
<br>

<div class="card-deck">
    <div class="card">
        <img src="https://res.cloudinary.com/dzk3cvgwt/image/upload/v1562685883/122ad-1533632948-800_y84nji.jpg"
             class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">DOTA Event</h5>
            <p class="card-text">It is hosted every year</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 07/09/2019</small>
        </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dzk3cvgwt/image/upload/v1562686138/DkVDhCxVsAAGoze_mymcbv.jpg"
             class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">The Prize</h5>
            <p class="card-text">The top one team was awarded over $11,000,000 in 2018</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 07/09/2019</small>
        </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dzk3cvgwt/image/upload/v1562686166/r_806326_5XkjA-1_xgcfv4.jpg"
             class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">The game never get old</h5>
            <p class="card-text">DOTA has been around more than 12 years</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 07/09/2019</small>
        </div>
    </div>
</div>
<hr>
<br>


</body>

</html>