<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no"/>

    <th:block th:replace="/Home :: importBS">...</th:block>
    <link rel="stylesheet" type="text/css" href="DecorateDota1Page.css">
    <title>Dota 1</title>
</head>
<body>

<th:block th:replace="/Home :: navlinks">...</th:block>
<!--<div class="card" >-->
<div class="card card-1">
    <img class="card-img-top"
         src="https://res.cloudinary.com/dzk3cvgwt/image/upload/v1562638523/4rwyk3q1t6hx_dyfti1.png"
         alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content.
            This content is a little bit longer.</p>
        <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
        </p>
    </div>
</div>

<div class="card card-2">
    <img class="card-img-top"
         src="https://res.cloudinary.com/dzk3cvgwt/image/upload/v1562637172/SC1-Aeon-of-Strife_ysu4p1.jpg"
         alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content.
            This content is a little bit longer.</p>
        <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
        </p>
    </div>
</div>
<!--</div>-->
</body>
</html>